<configuration>
  <config>
        <add key="globalPackagesFolder" value=".nuget\packages" />
  </config>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="monogame-extended-alpha" value="https://www.myget.org/F/lithiumtoast/api/v3/index.json" />
  </packageSources>
</configuration>
